<img id="sadFaceImg"
    src="https://www.flaticon.com/svg/vstatic/svg/4022/4022172.svg?token=exp=1611840633~hmac=adedaf1eca2105120955de237496b293"
    alt="sad face" />
<h1>404</h1>
<h2>Page not found</h2>